<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Welcome Ngo</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
</head>
<body>
  <div class="container">
    <div class="row">
    </br></br></br></br></br></br></br></br></br>
        <h1>Welcome Ngo {{session.username}}
        </h1>
      <div class="child">
      <div class="hexagon-menu clear">
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{{ url_for('create_post') }}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="fa fa-pencil-alt"></i>
              </span>
              <span class="title">Create post</span>
            </span>
            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{{ url_for('jobsPosted',prof_id=session.id) }}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="fa fa-list"></i>
              </span>
              <span class="title">Jobs posted</span>
            </span>
            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{{ url_for('Ngo_profile',Ngo_id=session.id) }}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="fa fa-id-badge"></i>
              </span>
              <span class="title">Profile</span>
            </span>
            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path>
            </svg>
          </a>
        </div>
        <div class="hexagon-item">
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="hex-item">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <a href="{{ url_for('logout') }}" class="hex-content">
            <span class="hex-content-inner">
              <span class="icon">
                <i class="fa fa-sign-out-alt"></i>
              </span>
              <span class="title">Logout</span>
            </span>
            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
  </div>
</body>
</html>
